header {
  text-align: center;
  font-size: 1.6em;
  font-family: Oldtown, fantasy;
  border: 3px solid red; }

header h1 {
  color: #9E53C9;
  margin-bottom: -40px; }

header h6 {
  color: #53C9BC; }

.container {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background-color: lightblue; }

article {
  border-bottom: 2px solid lightgreen; }

.section {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  background-color: lightgrey; }

.bitterAdd {
  border: 2px dotted yellow;
  text-align: center;
  width: 100%; }

.edit {
  font-size: 1.2em;
  background-color: #00cc00; }

.delete {
  font-size: 1.2em;
  background-color: #ff6666;
  margin-top: 10px;
  margin-bottom: 10px; }
