header {
  text-align: center;
  font-size: 1.6em;
  font-family: Oldtown, fantasy;
  border: 3px solid red; }

header h1 {
  color: #9E53C9;
  margin-bottom: -40px; }

header h6 {
  color: #53C9BC; }

.container {
  width: 80%;
  margin: 0 auto; }

section, aside {
  display: inline-block;
  vertical-align: top; }

.main-page {
  width: 70%;
  height: 400px;
  border: 2px solid blue;
  background-color: lightyellow; }

.main-page h3 {
  display: inline-block;
  margin: 0;
  color: green; }

.bitterText {
  position: relative;
  margin: 0;
  font-size: 2em; }

aside {
  width: 30%;
  background-color: lightgrey; }

.form {
  border: 1px solid black; }
